extends ../exclude/layout

block continue_head
  meta(property='og:description' content='')
  meta(name='description' content='')
  meta(name='author' content='')
  meta(property='og:title' content='MusicSOL')
  meta(property='og:url' content='MusicSOL - Confirm student')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(property="og:image" content="https://musicsol.net/assets/img/M-logo.png")
  title MusicSOL - Confirm student

block below-header-container
  .container.d-flex.h-100.align-items-center.overlay-carousel-text
    .mx-auto.text-center
      h1.mx-auto.my-0
        img.logo-big(src='./assets/img/logo.svg' alt='MusicSOL logo')
      .card#main-card(style='width: 18rem; margin: auto; margin-top: 50px;')
        #main-card-body.card-body(hidden='')
          p.card-text
            | Student Name: 
            span.b.fname
          p.card-text Instrument: 
            span.b.instrument
          p.card-text
          | Please click the button below to confirm taking on the student
          br
          br
          a.btn.btn-primary#confirm-student(href='#') Confirm student
        #alreadyassigned.card-body(hidden='')
          h5.card-title Student already assigned
          p.card-text
          | Looks like this student has already been assigned to a teacher.
          br
          br
          a.btn.btn-primary#confirm-student.disabled(tabindex="-1" role="button" aria-disabled="true") Sorry :(
  include ../exclude/carousel-mini

block content
  .gradient-overlay
  #ty-modal.modal(tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title Thank you!
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body.text-center
          p#assign-confirm-body
            br
            | Student has been assigned to you successfully! 🎉
            br
            | Please log into your account to schedule with the student.
            br
            a(href='https://musicsol.net/login') Click here to log in

block continue_scripts
  script(src='js/confirm-student.js')
  script(src='js/scripts.js')
