extends ../exclude/layout

block continue_head 
  meta(property='og:description' content='Online Music Lessons for Kids and Adults. MusicSOL provides Music lessons online for all instruments.')
  meta(name='description' content='Online Music Lessons for Kids and Adults. MusicSOL provides Music lessons online for all instruments.')
  //- meta(name='author' content='')
  meta(property='og:title' content='Online Music Lessons for Kids and Adults | MusicSOL')
  meta(property='og:url' content='MusicSOL.net')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(property="og:image" content="https://musicsol.net/assets/img/M-logo.png")
  title Online Music Lessons for Kids and Adults | MusicSOL


block below-header-container
  //- .container.overlay-carousel-text#index-header-text
    //- .mx-auto.text-center.lato
    h1 Online Music Lessons for Kids and Adults
  //- .container.d-flex.h-100.align-items-center.overlay-carousel-text
    .mx-auto.text-center
      h1.mx-auto.my-0
        img.logo-big(src='./assets/img/logo.svg' alt='MusicSOL logo')
      h2.text-white-50.mx-auto.mt-2.mb-5.text-under-logo
        | Music Lessons for everyone!
      a.btn.btn-primary.js-scroll-trigger(target='_new' href='https://musicsol.teachworks.com/form/student-signup') Sign me up!

  include ../exclude/carousel-mini
    block inside-carousel
      #index-header-text
        h1 Online Music Lessons for Kids and Adults
    

block content
  //- .gradient-overlay
  #triangle
    #featuredin
      img(src="./assets/img/featuredinbw2.png")
  // About
  section#about.about-section.text-center
    .container
      .row
        .col-lg-8.mx-auto
          h2.mb-4 About us
          p
            span MusicSOL&nbsp;
          p
            | (pronounced myo&#x35E;oziks&omacr;l, SOL being the 5th solfege scale degree, similar sound to soul.)
          p
            | MusicSOL, LLC. is one of the world&rsquo;s premiere online music lessons school. 
            | Our unique learning environment engages our students and encourages them to take their education past the classroom, 
            | through world-class education and performances. 
            | MusicSOL students study with our distinguished faculty from over 20 countries and nearly every state. 
            | MusicSOL teachers are active members of their music communities and have occupied a unique place in music education. 
            | Our talented list of instructors come from Italy, Spain, Israel, Greece, England, Mexico, Canada, United States and more!
          p
            span
              | MusicSOL is an online music learning program for all ages. 
              | Our students not only receive lessons on their instrument/s of choice, 
              | but also receive dedicated instructions in music theory.
          p
            span
              | The instructors in our network create their own unique lesson plans based on what is best suited for each individual student.
          p
            span Sign up today to have our knowledgeable staff assist you.&nbsp;
          p
            span
              | COVID19 precautions: Learn in the comfort and safety of your own home. All lessons currently take place online. We have no binding contracts. We want you to always enjoy the lessons with your teacher. If something changes, you are free to cancel or change teachers at any time.
          p
            span Start your musical journey today!
  // howitworks
  section#howitworks.projects-section.bg-light
    .container
      // How it works?
      .row.justify-content-center.no-gutters.mb-4.mb-lg-5
        .col-lg-6
          h2.vhcenter.about-box
            | How it works?
        .col-lg-6
          .bg-black.h-100.project
            .d-flex.h-100
              .margin-all-3.project-text.w-100.my-auto.text-lg-left
                ol.text-white
                  li
                    | Tell Us Your Needs
                    br
                    | We&rsquo;ll ask you a few questions so we can put you in touch with the most fitting teachers.
                  li
                    | We Assign You to a Teacher
                    br
                    | We will put you in touch with a teacher that best matches your needs.
                  li
                    | Book Your Lesson
                    br
                    | Your assigned teacher will contact you to set up your first lesson.
                hr.d-none.d-lg-block.mb-0.mr-0
      // Our mission
      .row.justify-content-center.no-gutters.mb-4.mb-lg-5
        .col-xl-7.col-lg-7
          h2.vhcenter.about-box
            | Our Mission
        .col-xl-5.col-lg-5.order-lg-first
          .featured-text.text-lg-left
            p.text-black-50.mb-0
              | The mission of MusicSOL is to provide aspiring young musicians from across the country with an opportunity to study with world-class artists and to provide our students with a music education of the highest artistic standards.
      // Faculty
      .row.justify-content-center.no-gutters.mb-4.mb-lg-5
        .col-lg-4
          span.vhcenter.about-box
            | Faculty
        .col-lg-8
          .bg-black.h-100.project
            .d-flex.h-100
              .margin-all-3.project-text.w-100.my-auto.text-lg-left
                p.mb-0.text-white.right-border-color
                  | MusicSOL Instructors come from leading music conservatories including Curtis, Berklee, Cleveland Institute of Music, Eastman, Indiana, Oberlin, Juilliard, Manhattan School of Music, Mannes, New England Conservatory, and University of Southern California, among others.
      // Recitals
      .row.justify-content-center.no-gutters.mb-4.mb-lg-5
        .col-xl-5.col-lg-5
          h2.vhcenter.about-box
            | Recitals
        .col-xl-7.col-lg-7.order-lg-first
          .featured-text.text-lg-left
            p.text-black-50.mb-0
              | MusicSOL firmly believes that it is important for young musicians to be exposed to live performances. Being an online conservatory program doesn&rsquo;t stop our students from having performance opportunities throughout the year. Our recital program aims to give back, by providing free mini concerts to the community.
      // Music Theory
      .row.justify-content-center.no-gutters.mb-4.mb-lg-5
        .col-lg-6
          span.vhcenter.about-box
            | Music Theory
        .col-lg-6
          .bg-black.h-100.project
            .d-flex.h-100
              .margin-all-3.project-text.w-100.my-auto.text-lg-left
                p.mb-0.text-white
                  | All MusicSOL students are enrolled in weekly group music theory classes. Music theory plays a central role in the education of every MusicSOL student. The study of theory includes a wide range of subjects, from hands-on training in musical skills to more advanced research on musical structure and music&rsquo;s composition. The goal of the MusicSOL theory department is not only to provide students with a solid technical foundation, but also to encourage their ongoing intellectual engagement with music as an art form.
                p.bottom-border-color.mb-0.text-white
                  | Music Theory courses begin every month and are capped at 10 students per class to create the optimal learning environment for students of all ages. 
                  br
                  br
      // Community
      .row.justify-content-center.no-gutters.mb-4.mb-lg-5
        .col-xl-7.col-lg-7
          h2.vhcenter.about-box
            | Community
        .col-xl-5.col-lg-5.order-lg-first
          .featured-text.text-lg-left
            p.text-black-50.mb-0
              | MusicSOL is more than a music school. We strive to build a safe learning community. Community is a fundamental aspect of the music experience. Music unites people, forming bonds that might not exist otherwise. Music can connect different cultures, promote diversity and friendship. Music encourages creative thinking, discipline, leadership, and problem solving. As the great Hans Christian Andersen once said, &ldquo;Where words fail, music speaks.&rdquo;
            p.text-black-50.mb-0
              | MusicSOL students are provided with a safe space to practice together after class, discuss topics studied, and create a strong friendship bond that will last a lifetime.
  // Student sign up SECTION
  section#pricing.contact-section.bg-black
    .container
      .row
        .col.text-center
          h2.text-white.mb-4 Pricing
          h5.text-white.mb-4 Sign up now and we will match you with a qualified teacher!
          //- h6.text-white.mb-4 All students take weekly private lessons + weekly group music theory classes.
        //- .row.justify-content-center
        //-   .col-lg-6.text-center
        //-     a.btn.btn-primary.js-scroll-trigger(target='_new' href='https://musicsol.teachworks.com/form/student-signup') Sign me up!
      .row.justify-content-center 
                      
        .col-lg-6.text-center.mb-3
          .card
            .card-body
              h5.card-title $40 / Week (Beginner package)
              h6.card-subtitle.mb-2.text-muted Recommended for first timers
              ul
                li 30 minutes Private Lesson
                li.st 40 minutes Weekly Group music theory classes
                li.st Seasonal recitals
                li.st Certificate program
                li.st Interactive community of young musicians
                li.st Make new friends
              //- p.card-text
                | Weekly 30 minutes private lesson on the instrument of your choice with weekly 40 minute group theory classes.
              a.btn.btn-primary.card-link(target='_new' href='https://musicsol.teachworks.com/form/student-signup') Sign me up
  
        .col-lg-6.text-center
          .card
            .card-body
              h5.card-title $75 / Week (Full package)
              h6.card-subtitle.mb-2.text-muted Recommended for beginners and up
              ul
                li 30 minutes Private Lesson
                li 40 minutes Weekly Group music theory classes
                li Seasonal recitals
                li Certificate program
                li Interactive community of young musicians
                li Make new friends


              //- p.card-text
                | Weekly 30 minutes private lesson on the instrument of your choice with weekly 40 minute group theory classes.
              a.btn.btn-primary.card-link(target='_new' href='https://musicsol.teachworks.com/form/student-signup') Sign me up

      .row
        .col-lg-12.text-center.text-white.mt-5
          span *
          span.small Billed every 4 weeks.


  hr(style='margin: 0; background-color: var(--primary);')
  section#contact.contact-section.bg-black
    .container
      .row
        .col.text-center
          h2.text-white.mb-4 Contact us
      .row
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-envelope.text-primary.mb-2
              h4.text-uppercase.m-0 Email
              hr.my-4
              .small.text-black-50
                a(href='mailto:info@musicsol.net') info@musicsol.net
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-envelope.text-primary.mb-2
              h4.text-uppercase.m-0 Phone
              hr.my-4
              .small.text-black-50
                a(href='tel:786-353-6146') ‪(786) 353-6146
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-envelope.text-primary.mb-2
              h4.text-uppercase.m-0 Address
              hr.my-4
              .small.text-black-50
                span 11140 N Kendall Dr, Miami, FL 33176
      
  
  #success-msg.container.fixed-bottom.text-center
    .row
      .col
        .alert.alert-success(role='alert')
          | Thank you! We will get back to you as soon as possible! :)
  // Footer
  // Footer
  #ty-modal.modal(tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title Thank you!
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body.text-center
          p#student-signup-ty-body(hidden='')
            | Thank you for signing up.
            br
            |                         A teacher will contact you shortly &#x1F3B6;&#x1F60A;&#x1F3B6;
          p#instructor-signup-ty-body(hidden='')
            | Thank you for registering.
            br
            |                           We will review your application and get back to you shortly &#x1F3B6;&#x1F60A;&#x1F3B6;


block continue_scripts
  link(href='https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&family=Lato:wght@400;700&display=swap&text=1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz.%3A%3B%2C%3F%2F()!%24%26-%2B' rel='stylesheet')
  script(src='js/scripts.js')
