extends ../exclude/layout

block continue_head
  meta(property='og:description' content='')
  meta(name='description' content='')
  meta(name='author' content='')
  meta(property='og:title' content='MusicSOL')
  meta(property='og:url' content='MusicSOL.com')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(property="og:image" content="https://musicsol.com/assets/img/M-logo.png")
  title MusicSOL

block below-header-container
  .container.d-flex.h-100.align-items-center.overlay-carousel-text
    .mx-auto.text-center
      h1.mx-auto.my-0
        img.logo-big(src='./assets/img/logo.svg' alt='MusicSOL logo')
      #teachworks-remote-login
      script(type='text/javascript').
        var script = document.createElement('script');
        script.setAttribute('type', 'text/javascript');
        script.setAttribute('src', 'https://musicsol.teachworks.com/remote.js' + location.search);
        document.body.appendChild(script);
  include ../exclude/carousel-mini

block content
  .gradient-overlay

block continue_scripts
  script(src='js/scripts.js')
