//- ol.carousel-indicators
  li.active(data-target='#carousel' data-slide-to='0')
  li(data-target='#carousel' data-slide-to='1')
  li(data-target='#carousel' data-slide-to='2')
  li(data-target='#carousel' data-slide-to='3')
.carousel-inner
  .carousel-item.active
    img.d-block.w-100(style='object-position: 70%;' src='assets/img/1-1080.jpg' alt='...')
  .carousel-item
    img.d-block.w-100(src='assets/img/2-1080.jpg' alt='...')
  .carousel-item
    img.d-block.w-100(style='object-position: 38%;' src='assets/img/3-1080.jpg' alt='...')
  .carousel-item
    img.d-block.w-100(src='assets/img/4-1080.jpg' alt='...')
a.carousel-control-prev(href='#carousel' role='button' data-slide='prev')
  span.carousel-control-prev-icon(aria-hidden='true')
  span.sr-only Previous
a.carousel-control-next(href='#carousel' role='button' data-slide='next')
  span.carousel-control-next-icon(aria-hidden='true')
  span.sr-only Next